

body{
    background:  #f4f2ec url(../imagens/fundo.png) repeat-x;
    font: 12px 'Lucida Grande', 'Lucida Sans Unicode',  sans-serif ;
}

#container{
    width: 1080px;
    margin: 0 auto;
}

a:link, a:active, a:visited{
    color: #af670a;
    text-decoration: none;
}

a:hover{
    color: #227115;
}

/*-------LOGO-----------*/

#logo h1{
    float: left;
}
#logo a {
    width: 248px;
    height: 21px;
    text-indent: -9000px;
    display: block;
    background: url(../imagens/logo.png) no-repeat;
}

/*---------navegação--------*/

header{
    padding: 15;
    height: 55;
}

nav ul{
    list-style: none;
    margin: 20px;
    float: right;    
}

nav ul li{
    float: left;
}

nav ul li a:link{
    display: block;
    margin-right: 25px;
    padding-bottom: 3px;
}

nav ul li a:hover{
    border-bottom:  1px solid #535858;
}

/*---conteúdo------*/

#conteudo{
    width: 710px;
    float: left;
    margin-bottom: 20px;
    
}

aside{
    float: right;
    width: 350px;
    background: #ebe7dd;
    padding-bottom: 30px;
    margin-bottom: 20px;
}


section#visita{
    background: #b1b1cd;
    padding: 10px 27px 27px 27px;
}

section#galeria{
    padding: 0 27px 0 27px;
}

article#video{
    
    width: 310px;
    float: left;
    margin-left: 25px;
    
}

article#mapa{
    
    width: 310px;
    float: left;
    margin-left: 37px;
}
article#exposicao{
    
    width: 310px;
    float: left;
    margin: 15px 0 0 25px;
    
}
article#historia{
    
    width: 310px;
    float: left;
    margin: 15px 0 0 37px;
    
}



section#galeria a{

    display: block;
    background: url(../imagens/fundo-foto.png) no-repeat;
    float: left;
    padding: 17px 15px;
    margin: 10px 0 0 20px;
}

h3{
    color: #227115;
    margin-bottom: 10px;
    font-size: 1em;
    text-transform:uppercase ;
}

h4{
    color: #86521a;
    padding-bottom: 3px;
    margin-bottom: 0;
    text-transform: uppercase;
}

footer{
    clear: both;
    padding: 20px 0 30px 0;
    text-align: center;
    background: url(../imagens/fundo-rodape.png) no-repeat top center;
}

footer>p a{
    padding: 5px 10px;
}

/*-----formularios-----*/

input{
    width: 80px;
    height: 20px;
    border: none;
    background: #fff;
    font: 1em;
}

input.campo{
    border: 1px solid #ada484;
}

input.botao{
    background: #9b9271;
    color: #fff;
    font-size: 1.2em;
    width: 100%;
    height: 33px;
}

fieldset {
    border: none;
}

#visita legend {
    display: none;
    
}